.container {
  max-width: 970px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.headerText {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 130px;
  margin: 110px 0 140px 0;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}

.subtitle, .subtitleGreen {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  z-index: 2;
}

.text, .textSemibold, .textBold, .textGreen {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  z-index: 2;
}

.textSemibold {
    font-weight: 600;
}

.textBold {
  font-weight: 700;
}

.textGreen, .subtitleGreen {
  color: #C4FF1E;
}

.caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #C4FF1E;
  margin-top: 4px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt38 {
  margin-top: 38px;
}

.mt50 {
  margin-top: 50px;
}

.mt58 {
  margin-top: 58px;
}

.mt74 {
  margin-top: 74px;
}

.mAuto {
  margin: auto;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
}

.rowGap30 {
  grid-row-gap: 30px;
}

.rowGap50 {
  grid-row-gap: 50px;
}

.colGap100 {
  grid-column-gap: 100px;
}

.rowGap64 {
  grid-row-gap: 64px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
}

.centeredFlex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.gridBlock18, .gridBlock25 {
  display: flex;
  flex-direction: column;
}

.gridBlock18 {
  gap: 18px;
  position: relative;
}

.gridBlock25 {
  gap: 25px;
}

.gridLargeBlock {
  grid-column: span 2;
}

.bgIcon1 {
  position: absolute;
  top: 5px;
  left: 80px;
}

.bgIcon2 {
  position: absolute;
  top: 58px;
  left: 37px;
}

.bgIcon3 {
  position: absolute;
  top: 5px;
  left: 74px;
}

.bgIcon4 {
  position: absolute;
  top: 5px;
  left: 98px;
  opacity: .2;
}

.bgIcon5 {
  position: absolute;
  top: 30px;
  left: 30%;
  opacity: .2;
}

.relative {
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 26px;
  width: 100%;
}

.footerCaption {
  font-size: 55px;
  font-weight: 600;
  line-height: 66px;
  text-align: left;
  color: #C4FF1E;
}
