.small, .large {
    display: flex;
    align-items: center;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
}

.small {
    font-size: 24px;
    line-height: 29px;
    gap: 12px;
}

.large {
    font-size: 55px;
    line-height: 66px;
    gap: 23px;
}

@media (max-width: 767px) {
    .small {
        font-size: 22px;
        line-height: 26px;
    }

    .large {
        font-size: 22px;
        line-height: 26px;
    }
}